<h2>Products</h2>
<div *ngFor="let product of products">
    <hr>
    <h3>
        <!--Enlace dinamico con cada id del producto, el [title] muestra info emergente al pasar el raton-->
        <a [title]="product.name + ' details'" [routerLink]="['/products', product.id]">
            {{ product.name }}
        </a>
    </h3>
    <p >{{ product.description }}</p>
    <!--Llama a la funcion que muestra el alert cuando se clicka-->
    <button type="button" (click)="share()">Share</button>

    <!--Uso de un componente hijo-->
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>


<div class="pro">
    <h2>Proveedores</h2>
    <div *ngFor="let proveedor of proveedores">
        <hr>
        <h3>
            <!--ruta con el valor-->
            <a [routerLink]="['/proveedor', proveedor.id]" [title]="proveedor.nombre">
                {{ proveedor.nombre }}
            </a>
        </h3>
    </div>
</div>
