.pro {
    margin-top: 35px;
    margin-right: 20px;
    position: absolute;
    right: 0;
    top: 50px; /* Ajusta según sea necesario */
    width: 300px; /* Ajusta el ancho según prefieras */
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/